body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFC0CB;
    margin: 0;
}

.container {
    text-align: center;
}

.header_text {
    font-family: 'Nunito';
    font-size: 56px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 14px 0;
}

.circle_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 560px;
    margin: auto;
}

.circle_container {
    position: absolute;
    height: 70px;
    left: 210px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.circle_container .img {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    transform-origin: center;
}

.circle_container img:nth-child(1) { transform: rotate(0deg) translate(210px) rotate(0deg); }
.circle_container img:nth-child(2) { transform: rotate(36deg) translate(210px) rotate(-36deg); }
.circle_container img:nth-child(3) { transform: rotate(72deg) translate(210px) rotate(-72deg); }
.circle_container img:nth-child(4) { transform: rotate(108deg) translate(210px) rotate(-108deg); }
.circle_container img:nth-child(5) { transform: rotate(144deg) translate(210px) rotate(-144deg); }
.circle_container img:nth-child(6) { transform: rotate(180deg) translate(210px) rotate(-180deg); }
.circle_container img:nth-child(7) { transform: rotate(216deg) translate(210px) rotate(-216deg); }
.circle_container img:nth-child(8) { transform: rotate(252deg) translate(210px) rotate(-252deg); }
.circle_container img:nth-child(9) { transform: rotate(288deg) translate(210px) rotate(-288deg); }
.circle_container img:nth-child(10) { transform: rotate(324deg) translate(210px) rotate(-324deg); }
.circle_container img:nth-child(11) { transform: rotate(324deg) translate(0px) rotate(-324deg); }

#gif {
    width: 210px;
    height: 210px;
    margin-left: -42px;
    margin-top: -42px;
}

.buttons {
    margin-top: 28px;
    margin-left: -252px;
}

.btn {
    background-color: #ffffff;
    margin-left: 70px;
    color: rgb(233, 48, 48);
    padding: 21px 45px;
    font-size: 22px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffd1dc;
}

#noButton {
    position: absolute;
}
